.container {
  width: 272px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
}
