.button_main {
  width: 272px;
  margin-top: 35px;
  padding: 9px 32px;
  border-radius: 70px;
  background: #483FDD;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
